{% extends "base.html" %}
{% load static %}

{% block  page_content %}



<div class="overlay" id="overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="blog-item single" >
                    <div class="col-md-4 col-sm12 post-image hover-dark" data-bg-image{{cinema.image.url}}>
                        <a href="https://vimeo.com/28177848" class="video-player"><i class="fa fa-play"></i></a>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 ph0">
                        <div class="post-content bg-cover" data-bg-image="images/blog/post-single.jpg">
                            <div class="content-meta"> 
                                <h2 class="entry-title">{{cinema.title}}
                                <span>özet</span>
                                </h2>
                                <div class="social-links">
                                    <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                                    <a href="javascript:;"><i class="fa fa-twitter"></i></a>
                                    <a href="javascript:;"><i class="fa fa-user"></i></a>
                                </div>
                            </div>
                            
                            <p class="entry-text">{{cinema.description}}</p>
                            <div class="info-content">
                                <ul class="item-info">
                                    <li><span>Running Time:</span>  <p>1hr 48 min</p></li>
                                    <li><span>Genre:</span>  <p>Action ,triller</p></li>
                                    <li><span>Director:</span>  <p> {{cinema.director}}</p></li>
                                    <li><span>Cast:</span>  <p>{{cinema.cast}}</p></li>
                                    <li><span>Release Date:</span>  <p>{{cinema.release_year}}</p></li>
                                </ul>
                                <div class="item-info-rate">
                                    <div class="chart-cirle">
                                        <div class="chart-circle-l">
                                            <div class="circle-chart" data-circle-width="7" data-percent="64" data-text="6.4">
                                            </div>
                                            <span>AMDB Rating</span>
                                        </div>
                                        <div class="chart-circle-r">
                                            <div class="circle-chart" data-circle-width="7" data-percent="84" data-text="8.4">
                                            </div>
                                            <span>Rotten Rating</span>
                                        </div>
                                    </div>
                                    
                                    <div class="wpc-skills animated">
                                        <div class="skill-block">
                                            <span class="timer" data-to="70" data-speed="500">70 - Metacritic </span>
                                            <div class="skill-line">
                                                <div class="line-fill" data-width-pb="70%" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                        <div class="skill-block">
                                            <span class="timer" data-to="56" data-speed="500"> 5.6 - Metacritic </span>
                                            <div class="skill-line">
                                                <div class="line-fill" data-width-pb="56%" style="width: 56%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="content-footer"> 
                                    <span>Available time:</span>
                                    <ul class="mdate">
                                        <li><a href="javascript:;"><i>16:40</i></a></li>
                                        <li><a href="javascript:;"><i>18:10</i></a></li>
                                        <li><a href="javascript:;"><i>20:20</i></a></li>
                                        <li><a href="javascript:;"><i>21:20</i></a></li>
                                    </ul>
                                    <a href="#order" class="order_btn btn order text-right"> By ticket</a>
                                </div>
                        </div>
                        
                    </div>
                </article>     
            </div> 
        </div>
        <div class="row">
                <div class="col-md-12 mt4">
                   <div class="single-slider">
                        <div class="swiper-container movie-images" id="singleslider" data-col="5">
                            <div class="swiper-wrapper">
                                                                    <div class="swiper-slide">
                                        <div class="movie-image" data-bg-image="images/carousel/movie-1.jpg">
                                            <div class="entry-hover">
                                                <div class="entry-actions">
                                                    <a href="javascript:;" class="btn fill">More</a>
                                                </div>
                                            </div>
                                            <div class="entry-desc">
                                                <div class="rating">
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                    <input name="stars" type="radio">
                                                    <label>☆</label>
                                                </div>
                                                <h3 class="entry-title">The Mountian</h3>
                                                <ul class="entry-date">
                                                    <li>5 May 2017</li>  
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                                                    





                                    
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
        </div>
    </div> 
</section>
<div class="section-content pvb0">
    <div class="container  pv8">
        <div class="row">
            <div class="col-sm-6">
                <div id="comments" class="comments-area">
                    <div class="comments-wrapper">
                        <h2 class="comments-title">Comments (2)</h2>
                        <ol class="comment-list">
                            <li>
                                <article>
                                    <div class="comment-avatar">
                                        <img alt="Image" src="images/blog/user-1.jpg" class="avatar">
                                    </div>
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <a href="#" class="comment-author">DANIAL RADCLIFFE</a>
                                        </div>
                                        <div class="comment-content">
                                            Dramatically grow market positioning human capital rather than professional data. Authoritatively reconceptualize equity invested sources with adaptive materials.
                                        </div>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <div class="comment-avatar">
                                        <img alt="Image" src="images/blog/user-2.jpg" class="avatar">
                                    </div>
                                    <div class="comment-body">
                                        <div class="meta-data">
                                            <a href="#" class="comment-author">DANIEL CRAIG</a>
                                        </div>
                                        <div class="comment-content">
                                            Progressively repurpose extensive partnerships and one-to-one technology. Competently impact market positioning solutions before user friendly alignments. Energistically deploy reliable process improvements via interdependent.
                                        </div>
                                    </div>
                                </article>
                            </li>
                        </ol>
                    </div>
                </div>
             </div>   
            <div class="col-sm-6">
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a comment</h3>
                    <form id="commentform" class="comment-form" novalidate="">
                        <div class="row">
                            <p class="comment-form-author col-sm-6">
                                <input id="author" name="author" type="text" value="" size="30" placeholder="Name *">
                            </p>
                            <p class="comment-form-email col-sm-6">
                                <input id="email" name="email" type="email" value="" size="30" placeholder="E-mail *">
                            </p>
                        </div>
                        <p class="comment-form-comment">
                            <textarea id="comment" name="comment" placeholder="Comments"></textarea>
                        </p>
                        <p class="form-submit">
                            <button type="submit" class="button fill rectangle">Send to us</button>
                        </p>                    
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
    <div class="fullscreen-section">
        <div id="tt-google-map" class="tt-google-map" data-lat="47.919311" data-lng="106.917643" data-zoom="16" data-saturation="-100" data-color="#333" data-marker="images/marker.png">
            <div id="gmap_content">
                <div class="gmap-item">
                    <label class="label-title">Keep in Touch</label>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-map-marker"></i>
                    </label>
                    <span>Address : 86 New Design Street, Melbourne 105</span>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-phone"></i>
                    </label>
                    <span>Phone: (01) 200 123 544</span>
                </div>
                <div class="gmap-item">
                    <label>
                        <i class="fa fa-envelope"></i>
                    </label>
                    <span>Email: info@example.com</span>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</body>   


{% endblock %} 