body {
    font-family: Arial, sans-serif;
    background-color: #3b3b3bd9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-details {
    flex: 1;
    padding: 20px;
}

.movie-details h2 {
    margin-bottom: 10px;
}

.movie-details p {
    margin-bottom: 5px;
}

.movie-image {
    flex: 1;
    max-width: 200px; /* İstediğiniz genişliği ayarlayabilirsiniz */
}

.movie-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Hover efekti */
.movie-image img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Film başlığına tıklanabilir link stilini ekleyin */
.movie-details h2 a {
    color: #3498db;
    text-decoration: none;
}

/* Hover efekti */
.movie-details h2 a:hover {
    text-decoration: underline;
}

/* Satın al butonu */
.buy-button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.buy-button:hover {
    background-color: #45a049;
}



.mmovie-container {
    display: inline-block;
    margin: 10px 20px;
}

.mmovie-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 300px; /* Örnek bir genişlik */
}

.mthumbnail img {
    width: 100%;
    height: auto;
}

.mmovie-info {
    background-color: #fd00f5;
    padding: 10px;
}

.mmovie-info h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mmovie-info p {
    margin-top: 0;
}

.movie-link:hover {
    color: inherit; /* Üzerine gelindiğinde rengi değiştirme */
}