{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<nav class="navbar navbar-dark bg-primay navbar-expand-lg">
    <div class = 'container' >
        <ul class="navbar-nav me-auto">
            <li class="nav-item" >
                <a class="nav-link" href="{% url 'home' %}">Anasayfa</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    {% if user.first_name %}
                        <a class="nav-link" href="{% url 'profile' %}">Welcome, {{ user.first_name|title }}</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'profile' %}">Welcome, {{ user.username }}</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>