{% extends "base.html" %}
{% load static %}

{% block content %}


<html>
<head>
    <title>Cinema</title>
</head>
<body>
    <h1 style="text-align: center;">Filmler</h1>

    {% for movie in movies %}
        <div class="movie-container">
            <a href="{% url 'movie_detail' movie.slug %}" style="text-decoration: none; color: inherit;">
                <div class="thumbnail">
                    <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                </div>
                <div class="movie-info">
                    <h2>{{ movie.title }}</h2>
                    <p>{{ movie.description }}</p>
                </div>
            </a>
        </div>
    {% endfor %}

    <h1>Welcome to Cinema Ticket Booking</h1>

    <p>Choose an action:</p>
    <ul>
        <li><a href="{% url 'create_ticket' %}">Create a new ticket</a></li>
        <li><a href="{% url 'ticket_list' %}">View ticket list</a></li>
    </ul>
</body>
</html>

{% endblock %}