<!-- cinema/templates/cinema/movie_details.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <!-- Yukarıda önerdiğim CSS dosyasının yolu burada ayarlanmalı -->
</head>
<body>

<div class="movie-container">
    <div class="movie-details">
        <h2><a href="{% url 'movie_detail' movie.slug %}">{{ movie.title }}</a></h2>
        <p>Çıkış Yılı: {{ movie.release_year }}</p>
        <p>Tür: {{ movie.genre }}</p>
        <p>Yönetmen: {{ movie.director }}</p>
        <p>Açıklama: {{ movie.description }}</p>
        
        <a href="{% url 'buy_ticket' movie.slug %}" class="buy-button">Buy Ticket</a>
    </div>
    <div class="movie-image">
        <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
    </div>
</div>
{% endblock %}
